<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insightsurfface.demodemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_chestnut"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_chestnut"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".business.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.bubbling.BubblingActivity"></activity>
        <activity android:name=".business.builder.BuilderActivity"></activity>
        <activity android:name=".business.touchevent.TouchEventActivity"></activity>
        <activity android:name=".business.strategy.StrategyActivity"></activity>
        <activity android:name=".business.state.StateActivity"></activity>
        <activity android:name=".business.responsibilitychain.ResponsibilityChainActivity"></activity>
        <activity android:name=".business.fragmentlife.FragmentLifePeriodActivity"></activity>
        <activity android:name=".business.command.CommandActivity"></activity>
        <activity android:name=".business.observer.ObserverActivity"></activity>
        <activity android:name=".business.template.TemplateActivity"></activity>
        <activity android:name=".business.visitor.VisitorActivity"></activity>
        <activity android:name=".business.mediator.MediatorActivity"></activity>
        <activity android:name=".business.agency.AgencyActivity"></activity>
        <activity android:name=".business.assembly.AssemblyActivity"></activity>
        <activity android:name=".business.bridge.BridgeActivity"></activity>
        <activity android:name=".business.factory.FactoryActivity"></activity>
        <activity android:name=".business.abstractfactory.AbstractFactoryActivity"></activity>
        <activity android:name=".business.rxjava.RxjavaActivity"></activity>
    </application>
</manifest>